<%= provide :title, t("courses.index") %>
<h1><%= t "courses.index" %></h1>
<div class="col-md-6 col-md-offset-3">
  <% if @user_courses.any? %>
    <ol>
      <% @user_courses.each do |user_course| %>
        <li>
          <h2><%= link_to user_course.course.name, course_path(user_course.id) %></h2>
        </li>
      <% end %>
    </ol>
  <% end %>
</div>
