@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
* {
  font-family: courier;
}
.img-center {
  margin: 0 auto;
}
.jumbotron a{
  color: #fff;
  text-decoration: bold;
}
a:hover{
  color: #666;
  text-decoration: none;
}
.row {
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
}
.wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
#mainNav .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
  .navbar-header {
    padding-top: 5px;
  }
}
.collapse navbar-collapse a:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.entries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  a {
    color: #369;
  }
  a:hover {
    text-decoration: underline;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .comments {
    border-left: 10px solid #e8e8e8;
    padding-left: 20px;
    .field {
    width: 500px;
    }
  }
}
.entry-body {
  overflow: auto;
  word-wrap: break-word;
}
.header-img {
  height: 40px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
#user_role {
  width: auto;
  margin-left: 0;
}
nav {
  text-transform: uppercase;
}
#user_course {
  border-right: 1px solid $gray-medium-light;
  border-bottom: 1px solid $gray-medium-light;
}
.subject {
  height: 100px;
  width: 150px;
  display: inline-block;
  background: #006666;
  margin-bottom: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  border-left: 1px solid $gray-medium-light;
}
.subject_name {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.progress {
  margin-left: 5px;
  margin-right: 5px;
}
#subject_wrapper {
  border-left: 2px solid $gray-medium-light;
}
h2 {
  color: green;
}
.user_name {
  font-size: 20px;
}
