@import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
* {
  font-family: courier;
}
.img-center {
  margin: 0 auto;
}
.jumbotron {
  background: #000 url("training.jpg") center center;
  a{
    color: #fff;
    text-decoration: bold;
  }
  a:hover{
    color: #666;
    text-decoration: none;
  }
}
.row {
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
}
.wrapper {
  margin-left: 300px;
  margin-right: 300px;
}
#mainNav .container-fluid {
  padding-left: 70px;
  padding-right: 70px;
  .navbar-header {
    padding-top: 5px;
  }
}
.collapse navbar-collapse a:hover {
  text-decoration: none;
  background-color: #f1f1f1;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.entries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  a {
    color: #369;
  }
  a:hover {
    text-decoration: underline;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .comments {
    border-left: 10px solid #e8e8e8;
    padding-left: 20px;
    .field {
    width: 500px;
    }
  }
}
.entry-body {
  overflow: auto;
  word-wrap: break-word;
}
.header-img {
  height: 40px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
#user_role {
  width: auto;
  margin-left: 0;
}
nav {
  text-transform: uppercase;
}
#user_course {
  border-right: 1px solid $gray-medium-light;
  border-bottom: 1px solid $gray-medium-light;
}

/* course progress */

.subject {
  height: 100px;
  width: 150px;
  display: inline-block;
  background: #006666;
  margin-bottom: 20px;
  border: 2px solid grey;
  border-radius: 5px;
  border-left: 1px solid $gray-medium-light;
}
.subject_name {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.progress {
  margin-left: 5px;
  margin-right: 5px;
}
#subject_wrapper {
  border-left: 2px solid $gray-medium-light;
}
h2 {
  color: green;
  text-align: center;
}
#user_name {
  font-size: 15px;
}
#remove_button {
  padding: 2px 2px;
}
#course_container {
  border-left: 2px solid $gray-medium-light; 
}
/* course_index_user_side */

#center{
  text-align: center;
}
.active_course {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 180px;
  width: 240px;
  background: url(https://cdn2.iconfinder.com/data/icons/free-basic-icon-set-2/300/11-512.png);
  background-size: 100%;
  margin-bottom: 20px;
  border: 2px solid blue;
  border-radius: 5px;
}
.finished_course {
  text-align: center;
  margin-left: auto;
  marigin-right: auto;
  height: 120px;
  width: 180px;
  display: inline-block;
  background: url(http://us.123rf.com/450wm/cowpland/cowpland1411/cowpland141100371/34141568-completed-tasks-modern-flat-icon-with-long-shadow.jpg?ver=6);
  background-size: 100%;
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 5px;
}
.course_name {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* assign_form */

 .form-style-5{
    max-width: 800px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
    display: block;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}
.assign_form{
  padding-right: 10px;
  padding-top: 10px;  
}
