<% @activities.each do |activity| %>
  <li>
    <%= link_to activity.user.name, activity.user if activity.user %>
    <%= render "activities/#{activity.trackable_type.underscore}",
    activity: activity%>
  </li>
<% end %>
